
.seachbox{padding: 30rpx 4% 20rpx 4%;box-sizing: border-box;}
.seachbox .Gps{max-width: 140rpx;}
.seachbox .Licon{width: 20rpx; height: 26rpx; display: block;}
.seachbox .rr{width: 85%;background:#F5F5F5;border-radius: 40rpx;overflow: hidden;}
.seachbox .rr .input{width:78%;}
.seachbox .rr .input input{width: 100%;line-height: 60rpx;padding: 0 20rpx 0 0px;box-sizing: border-box;display: block;border: none;}
.seachbox .rr .seachBtn{width: 12%;height: 60rpx; display: block;background: url(../../static/images/home-icon1.png) no-repeat center center/32rpx 32rpx;border: none;}
.seachbox .delt{width: 10%; height: 26rpx;}
.seachbox .delt text{width: 28rpx;height: 28rpx;border-radius: 50%;background: #cfcfcf; color: #fff; line-height: 26rpx;text-align: center;}

.hotLabel{flex-wrap: wrap;}
.hotLabel .item{width: 150rpx;height: 60rpx; line-height: 60rpx;background: #f0f0f0;margin:0 30rpx 30rpx 0; border-radius: 30rpx;}
.hotLabel .item:nth-of-type(4n){margin-right: 0;}

.historyDate .item{margin: 0 40rpx 30rpx 0;}
.fx-deltBtn{width: 350rpx;height: 80rpx;line-height: 80rpx; border-radius: 40rpx;border:1px solid #a4a4a4; position: fixed;bottom: 70rpx;left: 50%;transform: translateX(-50%);}
.fx-deltBtn .icon{width:36rpx; height: 36rpx;display: block;margin-right: 10rpx;}

